<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>

<spring:htmlEscape defaultHtmlEscape="true" />

<div class="skeleton product__listing product__grid" style="display:none">
      <div class="detail product-item">
          <div class="sk_bg big"></div>
          <div class="sk_bg small"></div>
          <div class="sk_bg small2"></div>
      </div>
      
      <div class="detail product-item">
          <div class="sk_bg big"></div>
          <div class="sk_bg small"></div>
          <div class="sk_bg small2"></div>
      </div>
      
      <div class="detail product-item">
          <div class="sk_bg big"></div>
          <div class="sk_bg small"></div>
          <div class="sk_bg small2"></div>
      </div>
      
      <div class="detail product-item">
          <div class="sk_bg big"></div>
          <div class="sk_bg small"></div>
          <div class="sk_bg small2"></div>
      </div>
      <div class="detail product-item">
          <div class="sk_bg big"></div>
          <div class="sk_bg small"></div>
          <div class="sk_bg small2"></div>
      </div>
      
      <div class="detail product-item">
          <div class="sk_bg big"></div>
          <div class="sk_bg small"></div>
          <div class="sk_bg small2"></div>
      </div>
      
      <div class="detail product-item">
          <div class="sk_bg big"></div>
          <div class="sk_bg small"></div>
          <div class="sk_bg small2"></div>
      </div>
      
      <div class="detail product-item">
          <div class="sk_bg big"></div>
          <div class="sk_bg small"></div>
          <div class="sk_bg small2"></div>
      </div>
</div>






  