.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkbox label {
    padding-left: 30px;   
     min-height: 18px;
     color: #6f6f6f;
    text-transform: capitalize;
    font-size: 13px;   display: inline-block;
    max-width: 100%;
   
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
label.uncased {
    text-transform: none; 
}

label > input[type=checkbox]:before
{    position: absolute;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 500;
    display: inline-block;
    content: "\f0c8";
    letter-spacing: 10px;
    font-size: 20px;
    margin-top: -5px;
    background: #fff;
    margin-left: -5px;
    color: #a40d13;}
    
    .toggle-button input[type="checkbox"]:checked ~ label .toggle-button__switch {
    background-color: #a40d13;
}
.toggle-button label .toggle-button__switch.is-checked {
    border-color: #a40d13;
}
    
    
    
    .toggle-button label .toggle-button__switch {
    position: relative;
    height: 33px;
    flex: 0 0 56px;
    border-radius: 60px;
    border: 1px solid #e8e7e5;
     background-color: #ffffff; 
}
    
    
    
    
    
    
    