
input[type=checkbox] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none !important;
    border: none !important;
}

label > input[type=checkbox]:checked:before{

font-family: 'Font Awesome 5 Pro';
    font-weight: 500;
    display: inline-block;
    content: "\f14a";
    letter-spacing: 5px;
    font-size: 20px;
    margin-top: -5px;
    background: #fff;
    margin-left: -5px;
    color: #121010;
}
label > input[type=checkbox]:before{
    position: absolute;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 500;
    display: inline-block;
    content: "\f0c8";
    letter-spacing: 10px;
    font-size: 20px;
    margin-top: -5px;
    background: #fff;
    margin-left: -5px;
    color: #121010;

}





#registerForm{

.btn-select{
font-size: 12px !important;
    border: 1px solid #ccc;
    background: #fff !important;
    color: @brand-primary !important;
    font-weight: 500;
        box-shadow: none;
   &:focus {
    border: 1px solid #121010;
    }
}

.form-group{
 
    margin-top: 35px;
    
    input{    background: #fff;
    }
}



.form-group{
    margin-top: 10px;

}

.checkbox .control-label{
display:block}


.btn-default[disabled]{
color: #ffffff;
    background-color: #909090;
    border-color: #909090;
&:hover{
color: #ffffff;
    background-color: #424242;
    border-color: #424242;

}
}

}


.bootstrap_btn {
label{display:none}
button {    font-size: 13px !important;

background:#d4d4d470 !important;
color:#888 !important ;}
}
#loginForm{

.form-group{
 
    margin-top: 35px;
    
    input{    background: #fff;}
}




.password_login
{
.form-group{
 
    margin-top: 35px;
    
    input{    background: #fff;
    }
}


}
.forgotten-password{
    margin-bottom: 20px;
a{

color: #5a5a5a;
    font-weight: 600;
    margin-left: 10px;
}

}

button{
    border: 3px solid;
    color: #ffffff;
    background-color: #121010;
    border-color: #121010;
        margin-bottom: 20px;
    &:hover{
     background-color: #7a0110;
    border-color: #7a0110;
    
    }
}
.or-style{
    color: #5a5a5a;
    font-weight: 600;
    margin-left: 10px;
}a{
    font-weight: 700;
    &:hover{
    color:#7a0110;
    }
}

}


.register__section{
    border: 1px solid #ececec;
    padding: 15px 25px;
    border-radius: 5px;
    @media (max-width: @screen-sm-max){
        border: none;
        padding: 10px;

    }

.btn_register{
    margin-top: 10px;
    text-align: center;
    button{    
    padding: 12px 18px;
        border-radius: 5px !important;
        
    
    }
}


}






