//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb-section{
	   background: #fff;
    padding-right: 30px;
    border-radius: 0;
    padding-left: 30px;

	.breadcrumb{
    border-radius: 0;
		    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
    padding-left: 0px;
    
    li{
    display:inline-block;
    color:#065075;
    a{
    color:#065075;
    }
    
    
    }
    
   
	}
	 .breadcrumb > li + li:before{
	 content: "\00BB";
    padding: 0 2px;
    color: #19212b;
    font-size: 14px;}
    .breadcrumb > .active {
    color: #19212b;
}
}
