@import "_navigation.less";

header {

  background: #121010;
  margin-bottom:  #121010;

  .page-cartPage &,
  .page-homepage &,
  .page-productGrid &,
  .page-searchGrid &,
  .page-search &,
  .page-cartPage &,
  .pageType-CategoryPage & {
	margin-bottom: 0;
  }
}

.cookie-alert--top {
  margin-bottom: 0;
}

#consent-management-alert {

  .consent-management-list {
    max-width: 100%;
    line-height: 1.6;
    padding: 0;
    margin: 0;
  }
  .consent-management-list__item {
    position: relative;
    margin-top: 0;
    margin-bottom: 3px;
    list-style-type: none;

    @media (max-width: @screen-sm-max) {
      border-left: 0 none;
      border-right: 0 none;
      margin-left: -20px;
      margin-right: -20px;
    }

  }
  .consent-management-list__title {
    padding: 0 15px 0 62px;
    display: block;
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
    font-weight: bold;
  }
  .consent-management-list__title:before {
    font-family: 'Glyphicons Halflings', sans-serif;
    content: '\e114';
    font-size: 16px;
    position: absolute;
    left: 20px;
    top: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .consent-management-list__title:hover,
  .consent-management-list__title:focus {
    cursor: pointer;
    outline: none;
  }
  .is-expanded .consent-management-list__title:before {
    content: "\e113";
  }

  .consent-management-list__label {
    width: 85%;
    font-size: 15px;

    @media (max-width: @screen-sm-max) {
      width: 60%;
      font-size: 14px;
    }

  }

  .consent-management-list__content-inner {
    padding: 10px 40px 0 65px;
    font-size: 16px;

    @media (max-width: @screen-sm-max) {
      font-size: 14px;
    }

  }
  .consent-management-list__content {
    transition: height 0.3s ease-out;
    height: 0;
    overflow: hidden;
  }

  .consent-buttons-group {
    position: absolute;
    top: 10px;
    right: 20px;
    @media (max-width: @screen-xs-max) {
      right: 30px;
    }

    .btn {
      padding: 4px 38px;
      font-size: 13px;
      margin-left: 10px;

      @media (max-width: @screen-xs-max) {
        padding: 4px;
        font-size: 12px;
        margin-left: 0;
      }

    }
  }

}
.headtop{ background: #000; padding: 5px 0px;color:#9e9e9e;
.content{text-align: left; font-size: 12px;
i{margin-right: 5px;}
}
.top-links{min-height: auto;    margin: 0;
  padding: 0;
li{list-style: none; a{color: #fff;}}
}
}
   .head{ background: #000; padding: 0 30px;color:#9e9e9e;
   .content{    font-weight: 400;padding-top:7px; margin-right: 10px;float: left;padding-bottom:7px;
  i{    margin-right: 5px;
    font-size: 16px;}
  }
  				
    .registration, .loginaccount{list-style: none;display:inline-block;
    a{
    color:#000;font-weight: 600;}
    }
    .lang{list-style: none;display:inline-block;padding-top:7px;
    }
    
    }
    
    .top-links{
        min-height: 38px;
    float:right;
    margin:0;
    li{display: block;}
    img{width: 22px;display: inline-block;margin-right: 5px;}
    .registration{
    margin-right:30px;
    padding: 5px 14px 5px 29px;
    position: relative;
    border: 2px solid #fff;
    border-radius: 5px;
    i{
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    left: 8px;
    top: 6px;
    color: #121010;}
    } 
    
    .loginaccount{
     margin-right:30px}
    .regisration{
    margin-right:30px;
    padding:5px 14px 5px 29px;
    position: relative;
    
    i{
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    left: 8px;
    top: 6px;
    color: #121010;}
    }
    .click_border{
    border: 2px solid #6F263D !important;
    border-radius: 5px;
    
    }
    }
    
    
    
    
    
    
    
    
    .nav__left{
    max-width:260px;}
    .site-search{
    
        padding-top: 13px;
    		.input-group
    		{display: block;}
        .js-site-search-input{
        display:block;
            height: 36px;
  			  border-radius: 5px !important;
   			 background-color: #ffffff;
   			 }
   			 .js-site-search-input:focus{
   			 border:none}
   			 .js_search_button{    
   			left: -50px;
   			top: -2px;
   			z-index: 50 !important;
  
   			 }
   			 .input-group-btn{
   			 .js_search_button
   			 {
   			     position: absolute;
   				 right: 0;
   				 top: -2px;
   			 
   			 }
   			 }
    }

.title_sub{
    text-align: left;
    padding: 0px 20px;
    color: #121010;}
    
    
    
    
    
    .login_box {
    display: none;
    position: absolute;
    z-index: 1002;
    min-width: 350px;
    top: 34px;
    right: 0;
    background: #fff;
    padding: 10px 30px;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.54), 0 6px 20px 0 rgba(0, 0, 0, 0.28);

	.login-page__headline{
	color: #121010;
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    padding: 20px 0;
    margin: 0;
    text-transform: uppercase;
	}
		p {
    color: #465257;
    font-size: 14px;
    margin: 0 0 10px;
    font-weight: 600;
}
.form-group{
 .control-label{
 display:none}
 input{
 display: block;
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #19212b;
    background-color: #efefef;
    background-image: none;
    border: 1px solid #e4f7f8;
    border-radius:5px;
 
 }}
 
 .forgotten-password{
 a {
     color: #5a5a5a;
    font-weight: 600;
    margin-left:10px}
 }
.btn-primary{
margin-bottom: 20px;
background-color: #121010;
border-color: #121010;
font-weight: 600;
&:hover{
background-color: #121010;
border-color: #121010;
}


}


}
.sgin_up{padding: 25px 30px;
    border-top: 1px solid #c8c8c8;
    margin: 0 -30px;
     a{
    color: #6F263D !important;
    font-weight: 700 !important;
    }
    .or-style{
       padding-left: 7px;
    color: #465257;
    font-size: 14px;
    font-weight: 600;}
   
}


.darkback {
       position: fixed;
    z-index: 52;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    background: #00000045
}
.js-site-logo img{max-width:200px;}

@media (max-width: @screen-sm-max){

.nav-cart{
text-align: center;
.center_cart{
.fa-shopping-cart{

    font-size: 20px;
    text-align: center;
}
}
.label_mini_cart{display:none;}

}


}

.navigation.navigation--top > .row + .row{    padding: 20px;}