//////////////////////////////////
//          general             //
//////////////////////////////////
@max-item-image-width: 96px;

.account-section .account-section-content .wishlist_header form {
  padding-left: 10px;
  padding-right: 10px;
  float: right;
  @media (max-width: @screen-xs-max) {
width: 100%;
padding: 0;
margin-bottom: 10px;
.btn{width: 100%;}

  }
}
.item__list {
  margin-top: 30px;
  margin-bottom: @grid-gutter-width;

  .list-unstyled;

  .item__list--item {
    border-bottom: 1px solid @border-color-2;
    padding: 15px 0;

    &:nth-child(4n+4){


      + li .add-to-cart-order-form-wrap {
        &,
        &:after {
          background-color: @table-2n-line-bg;
        }
        .order-form-scroll.down{
          bottom: 0;
          z-index: 9999;
        }
      }
    }



    .btn-group.open {

      .dropdown-menu {
        padding: 0;

        li {
          margin: 0;
          &:first-child {
            border-bottom: 1px solid @border-color-2;
          }
        }
      }

      a {
        padding: 18px 35px 18px 25px;
      }
    }

   .item__configurations--display {
     .btn {
       padding-left: 0;
 
       &:hover {
         color: @link-hover-color;
       }
     }
   }    
  }

  .item__list--header {
    .list-unstyled;
    display: table;
    table-layout: fixed;
    width: 100%;
        padding-left: 0;
    padding-right: 5px;
    background: #e6e6e6;
    border: 2px solid #e6e6e6;
    border-radius: 0px;
    li {
      display: table-cell;
          color: #000;
    font-size: 13px;
    padding: 5px 0;
    text-transform: capitalize;
     text-align: center;

  
    }
  }

  .item__toggle {
    font-size: @font-size-base + 1;
    width: (@font-size-base + 1 + @grid-gutter-width/2);

    > * {
      cursor: pointer;
    }

    .open {
      .glyphicon {
        .glyphicon-chevron-up();
      }
    }
  }

  .item__image {
    width: 170px;
    padding: 4px 0;
    text-align:center;

    img {
      max-width: @max-item-image-width;
    }
  }

  .item__name {
    font-size: 18px;
    font-weight: 700;
        color: #101010;
        margin-bottom: 20px;
  }

  .item__quantity {
    text-align: center;

    .form-control {
      display: inline-block;
      width: @grid-gutter-width*3;
      height: @grid-gutter-width*2;
      text-align: center;
    }
  }

  .item__delivery {
    .item__delivery--label {
      text-transform: uppercase;
      color: @text-color-secondary;
      font-weight: 700;
      @media(min-width:1250px){
      padding-left:20px
      }
    }
  }

  .item__total--column {
    text-align: right;
  }

  .item__total {
    font-size: 15px;
    font-weight: 700;
    text-align: right;
    padding-left: 0;
  }

  .item__remove, .item__menu {
    width: (@btn-icon-font-size + @grid-gutter-width);
    text-align: right;

    .btn {
      font-size: @btn-icon-font-size;
      background-color: transparent;
      padding: 0;
      border: 0;
      color: @btn-primary-bg;

      .glyphicon {
        top: 4px;
      }
    }
  }

  #cartOrderGridForm {
    .product-grid-container {
      table {
        background-color: @table-2n-line-bg;
        th {
          background-color: @cart-product-table-head-color;
          color: @text-color;
        }
      }
    }
  }

  .promo {
    font-size: @font-size-base;
    font-weight: 700;
    color: @item-promo-color;

    ul {
      .list-unstyled();
    }
  }

  .out-of-stock {
    color: @item-sale-color;
  }


  .read-only-grid {
    .grid-row {
      > td {
        border-bottom: 1px solid @border-color;
      }
    }
    .grid-prod-img {
      width: 100px;
      padding: 25px 40px 20px 45px;
      vertical-align: top;

      + td {
        padding-bottom: 5px;
      }
    }
    .grid-variant,
    .grid-size {
      font-weight: 700;

      + .grid-variant:before {
        content: "|";
        font-size: 15px;
        margin: 0 10px;
        width: 1px;
        color: @border-color-3;
      }
    }
    .grid-prod-info {
      display: inline-block;
      padding-top: 0;
      padding-right: @grid-gutter-width*2;
    }
    .grid-qty .grid-qty-label {
      font-size: 12px;
      text-transform: uppercase;
    }
    .grid-price {
      &:before {
        content: "|";
        font-size: 15px;
        margin: 0 10px;
        width: 1px;
        color: @border-color-3;
      }
    }
  }
}


//////////////////////////////////
//       > mobile / tablet      //
//////////////////////////////////
@media (min-width: @screen-md-min) {
  .item__list {

  

    .item__list--item {
      display: table;
      table-layout: fixed;
      width: 100%;

      .item__sku__input,
      .item__toggle,
      .item__image,
      .item__info,
      .item__price,
      .item__quantity,
      .item__delivery,
      .item__total,
      .item__remove,
      .item__menu,
      .item__cart,
      .item__quantity__total {
        display: table-cell;
      
        vertical-align: middle;
      }
      
      .item__image{
          width: 170px;
          img{  max-width: 100%;}
      
      } .item__quantity{
      
      padding-left: 7px;
      }
      .item__price{   
      font-size:15px;font-weight:700;
          color: #424d51;
        
    text-align: center;}
      .item__delivery{
    text-align: center;
    padding-left: 0;
        color: #424d51;
        font-weight:700
}
.item__quantity__total{
text-align: center;
    text-align: center;
    color: #424d51;
}

    }

    .item__info {
    padding: 0 10px;
    padding-left: 0px;
    width: initial;
    }

   
  }
}
 .item__delivery {
         text-align: center;
        
    }
    .item__total--column,.js-item-total{
      text-align: left !important;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
      margin-left: 10px;
    }
    .item__quantity{
   text-align: center !important;
   width:120px;
   .qty_cart input{text-align: center;
    border: 0;
    background: #fff;
    color: #919191;
    width: 53px;
    height: 37px;
    border-left: 1px solid #a7a7a7;
    font-weight: 600;
    border-right: 1px solid #a7a7a7;}
    }
//////////////////////////////////
//           > mobile           //
//////////////////////////////////
@media (min-width: @screen-sm-min) {
  .item__list {
    #cartOrderGridForm {
      max-height: 460px;
      overflow: scroll;

      table {
        tr:first-child > th:first-child,
        tr > td:first-child {
          border-right: 0;
          padding-left: @grid-gutter-width * 2;
        }
      }
    }
  }
}


//////////////////////////////////
//      tablet  and mobile      //
//////////////////////////////////
@media (max-width: @screen-sm-max) {

  .item__list {
   
    margin-top: 0;
    clear: both;

    .item__toggle {
      .glyphicon {
        width: @base-icon-touch-area;
        height: @base-icon-touch-area;
      }
    }

    .item__image {
      float: left;
      margin: 0;
    }

    .item__price {
      .visible-xs {
        display: inline!important;
      }
    }

    .item__remove, .item__menu {
      position: absolute;
      right: 20px;
      top: 8px;
      padding: 0;
      margin: 0;

      .btn {
        text-align: center;
        width: @base-icon-touch-area;
        height: @base-icon-touch-area;
      }
    }

    .item__total {
      float: right;
    }
		
    

    #cartOrderGridForm {
      .product-grid-container {
        font-size: 14px;
        margin: 0;

        .variant-detail {
          padding-left: @grid-gutter-width;
          padding-top: @grid-gutter-width/2;

          img {
            padding-right: @grid-gutter-width/2;
          }
        }

        .variant-select {
          padding-top: 22px;
          padding-right: @grid-gutter-width;
          vertical-align: top;
        }

        > table {
          border-bottom: 1px solid @border-color;

          tr td {
            border-bottom: none;
          }
        }

        .variant-summary {
          background-color: transparent;

          > td {
            padding: 0 @grid-gutter-width @grid-gutter-width;
          }

          .variant-summary-items {
            border: none;
            margin-top: 0;
            margin-bottom: 5px;
          }

          table tr {
            td {
              padding: 0 10px 0 0;

              &:last-child {
                padding: 0;
              }
            }
          }
        }
      }
    }

    .read-only-grid {
      .grid-prod-img {
        padding-left: @grid-gutter-width;
        padding-right: 30px;
      }

      .grid-variant {
        display: block;

        + .grid-variant:before {
          content: none;
        }
      }
    }
  }

  .item__list--item {
    position: relative;
  
  }
}



//////////////////////////////////
//     item-list in context     //
//////////////////////////////////
.item__list {
  .account-orderdetail & { // myAccount
    clear: both;
    margin-top: 0;
  }
}

.fa-ellipsis-v{
color:@brand-primary;}



.item__code{
    color: #a3a3a3;
    font-size: 13px;
}
.item__stock{
color: #a3a3a3;
    font-size: 13px;
    strong{
    color:#000;
    }
    .stock{
    .fa-check-circle {  margin-right: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #0e9900;
    padding-bottom: 7px;
    margin-top: 5px;}
    .fa-check-times {  margin-right: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #ff2626;
    padding-bottom: 7px;
    margin-top: 5px;}
    
    }

}


@media(max-width: @screen-sm-max){
.main__inner-wrapper{padding: 0 15px;}
.Pad_cart_de{
padding:0 !important;
.cart-header{


border-bottom:none !important;
padding:0;

.cart-headline{
padding-top:20px;
}
}
}
.item__list__cart{
border-bottom:none !important;
border-top:none !important;
.item__list--item{
border-top:none !important;
float: left;
width: 100%;
.item__quantity{float: right;
margin-top: 10px;}
}
}
.item__list{
border-bottom:none !important;

}


.qty_cart{

display:inline-block;
float:left !important;
.minus, .plus {
    padding: 19px;
    cursor: pointer;
}}
.item__delivery{

text-align:left;
}


.img_float{
    display: block;
    float: left;
    margin-right: 10px;
   
   .item__image{
   
   padding:0 !important;
   width:100%;
   img{
      max-width: 181px;
   
   }
   .smile {
    width: 66px;
    height: 50px;
    position: absolute;
    right: 17px !important; 
    bottom: 4px;
}
   }

@media(max-width:450px){
.item__image{
 img{
 max-width: 135px;
 }
 .smile{
     width: 66px;
    height: 50px;
    position: absolute;
        right: 10px !important;
    bottom: -12px !important;
 }
}

}

}

.info_float{
    display: inline-block;
    width: 52%;
   
    
    .item__menu{
   button{
   position: relative;
     .fas {
    color: #76b445;
    font-weight: 500;
    position: absolute;
    top: 5px;
    right: 0;
    @media(min-width:450px){
     right: 20px;
    }
    }}}

}

}






span.item__delivery--label {
  display: block;
  color: #7d7d7d;
  margin-bottom: 10px;
}
.js-execute-entry-action-button a{font-size: 12px;
i{margin-right: 5px;}
}


.page-cartPage .item__list .item__info {width: inherit;}

@media(max-width: @screen-xs-max){
  .item__list .item__image{width: 100%;} 
}
.removeWishlistEntry{color: @brand-secondary}
@media(max-width: @screen-sm-max){
.pagination-toolbar{border-top: 1px solid #ccc;border-bottom: 1px solid #ccc; padding: 10px; margin: 10px 0;}
a.js-show-facets {
  padding: 8px 10px;
  font-size: 13px;
  display: inline-block;
  text-transform: capitalize;
  i{margin-left: 4px; font-size: 12px;}
}
#sortForm1 select{display: none;}
#sortForm1 .btn.btn-select{border: none; text-transform: capitalize;font-size: 13px !important;    box-shadow: none !important;}
}

.item__list--item  .add_to_cart_form  {
  @media(max-width:@screen-sm-max){
    padding: 12px !important;
  }
}
.item__list--item .item__info{
  @media(max-width:@screen-md-max){
    margin: 0 15px;
  }
}