.pageType-CategoryPage .map {
	img {
	  min-width: 100%;
	}
}

.searchEmptyPageMiddle-component {
  .full-width-padding();
}

.product__list--wrapper {
  @media (min-width: @screen-md-min) {
	padding: 0;
	margin: 0 0 0 0px;
  }

  .pagination-wrap {
	@media (min-width: @screen-sm) {
	  padding-right: 0;
	}
  }
}

.searchSpellingSuggestionPrompt {
  padding-left: 20px;
  padding-right: 20px;
}

.pagination-bar {
  @media (max-width: @screen-sm) {
	.sort-refine-bar {
	  button {
		padding-left: 20px;
		padding-right: 20px;
	  }
	}
  }
}

.results {
  h1 {
	.page-headline();
	padding: 0;
    margin-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}

.product__listing {
  .list-unstyled;

	.product__listing--promo {

	  .text-success;
	  margin-bottom: (@grid-gutter-width/2);

	  @media (min-width: @screen-md) {
		padding-right: 20px;
		margin: 0 -10px;
	  }
	}

	.product__list--price-panel {
	  text-align: right;
	}

	.product__list--name {
	  display: block;
	  text-transform: uppercase;
	  font-weight: bold;
	  margin: 0 0 (@grid-gutter-width/2) 106px;
	  color: inherit;
	}

	.product__listing--description {
	  .hidden-xs;
	  margin: 0 210px 0 106px;
	}

	.addtocart {
	  clear: both;
	  text-align: center;
	  padding: (@grid-gutter-width/2) 0 0 0;

	  button {
		margin-bottom: (@grid-gutter-width/4);
	  }

	  @media (min-width: @screen-md-min) {


		.pickup-in-store-available {
		  .ProductGridComponent-ListPickUpInStoreAction,
		  .ProductGridComponent-ListAddToCartAction,
		  .SearchResultsList-ListPickUpInStoreAction,
		  .SearchResultsList-ListAddToCartAction,
		  .SearchResultsGrid-ListPickUpInStoreAction,
		  .SearchResultsGrid-ListAddToCartAction {
			width: 49%;
			display: inline-block;
			float: left;
		  }
		  .ProductGridComponent-ListAddToCartAction {
		  	position: relative;
		  	right: 1%;
		  	float: right;
		  }
		  .ProductGridComponent-ListPickUpInStoreAction {
		  	position: relative;
		  	left: 1%;
		  }
		  @media (min-width: @screen-lg-min) {
		  	.ProductGridComponent-ListAddToCartAction,
		  	.ProductGridComponent-ListPickUpInStoreAction {
		  		width: calc(~'49% - 4px');
		  	}
		  }
		}
	  }

	  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

		.pickup-in-store-available {
		  margin: 0 -(@grid-gutter-width/5);

		  .ProductGridComponent-ListPickUpInStoreAction,
		  .ProductGridComponent-ListAddToCartAction,
		  .SearchResultsList-ListPickUpInStoreAction,
		  .SearchResultsList-ListAddToCartAction,
		  .SearchResultsGrid-ListPickUpInStoreAction,
		  .SearchResultsGrid-ListAddToCartAction {
			padding: 0 (@grid-gutter-width/6);
		  }

		}
	  }
	}

	&.product__list .product__list--item,
	&.product__grid .product-item {
		&.tag-highlighted {
			position: relative;

			&:before {
				content: "";
				z-index: -1;
				position: absolute;
				border: 2px solid @brand-primary;
				top: 14px;
				left: 12px;
				right: 12px;
				bottom: 14px;
			}
			&:after {
				&:extend(.glyphicon);
				content: "\e006";
				top: 18px;
				left: 16px;
				color: @brand-primary;
				width: 24px;
				line-height: 22px;
				height: 24px;
				font-size: 18px;
				padding: 0;
				text-align: center;
				position: absolute;
			}
		}
	}


	&.product__list {
	  .product__list--item {
		padding: @grid-gutter-width 30px;
		border-top: 1px solid @border-color;

		&:nth-of-type(2n) {
		  background-color: @table-2n-line-bg;
		}

			@media (max-width: @screen-md) {
			  padding-left: 20px;
			  padding-right: 20px;
			}
			&.tag-highlighted {
				&:before {
					left: 0;
					right: 0;
					top: 1px;
					bottom: 0;
				}
				&:after {
					font-size: 16px;
					top: 8px;
					left: 7px;
				}
				&:first-child {
					&:before {
						top: 0;
					}
				}
				&:nth-of-type(2n) {
					background: transparent;

					&:before {
						top: 1px;
						background-color: @table-2n-line-bg;
					}
				}
			}
	  }

	  .product__list--thumb {
		float: left;
		margin-right: (@grid-gutter-width/2);
		display: block;
		  &> img {
			  width: 96px;
		  }
	  }

	  .product__list--price-panel {
		float: right;
		width: 200px;
	  }

	  .ProductListComponent-ListPickUpInStoreAction,
	  .ProductListComponent-ListAddToCartAction,
	  .SearchResultsList-ListPickUpInStoreAction,
	  .SearchResultsList-ListAddToCartAction {
		.make-xs-column(6);
		.make-sm-column(4);
		.make-sm-column-push(4);
	  }

	  .ProductListComponent-ListOrderFormAction,
	  .SearchResultsList-ListOrderFormAction {
		.make-xs-column(6);
		.make-xs-column-push(6);
		.make-sm-column(4);
		.make-sm-column-push(0);
	  }

	  @media (max-width: @screen-xs-max) {
		.product__list--price-panel {
		  text-align: left;
		  float: none;
		  margin-left: 106px;
		  width: auto;
		}
	  }
	}

	&.product__grid {
	  .flex-display(flex);
	  .flex-wrap(wrap);
	  width: 100%;

	  .product-item {
		.make-xs-column(6);
		.make-sm-column(3);
		.make-md-column(3);
		.make-lg-column(3);

		padding: 10px;
		.flex-display(flex);
		.flex-direction(column);

		// fix for Safari
		&:first-child {
		  margin-left: -1px;
		}
			&.tag-highlighted {
				position: relative;
			}
	  }

	  .thumb {
		   
		
		text-align: center;
		margin-bottom: 10px;

		img {
		 width: 100%;
		}
		.smile{
		        width: 29%;
    height: 15%;
    position: absolute;
    bottom: 3%;
    right: 19%;
		
		}
		.item_wishlist{
		        position: absolute;
    bottom: 2%;
    left: 16%;
    color: #636d6a;
    font-size: 30px;
    font-weight: bold;
    
		
		}
	  }

	  .details {
		text-align: center;
		
		width : 100%;
  		padding-right: 0px;
    padding-left: 0px;

		.name {
		  margin: 0;
		  font-weight: 600;
		  font-size: 13px;
		  padding-bottom: (@grid-gutter-width/2);
		  min-height: 30px;
		  float: left;
		  overflow: hidden;
		  color: @brand-primary;
		  display: block;
		  width: 100%;
		  @media (max-width: @screen-sm-max){min-height: 82px;}
		}
		.carousel__item--reviews.reviews {
			float: none;
			width: 95px;
			text-align: center;
			margin: 0 auto;
			position: relative;
			display: inline-block;
		}
		.price-content{
			text-align: center;
			float: left;
			width:100%;
			font-size: 16px;
			height: 40px;
			font-weight: 600;
				margin-top: 0px;
					.price{height: auto;display: inline; float: none;color: @brand-secondary; margin: 0;}
					.scratched{color: #a2a2a2;display: inline-block; margin-left: 5px; font-size: 13px; text-decoration: line-through; }
					}


		.addtocart{
		    width: 100%;
			text-align: center;
			display: block;
			visibility: hidden;
			opacity: 0.3;
			transition: opacity 0.6s;
		   float: left;
		   padding:0;
		   @media (max-width: @screen-sm-max) {
			visibility: visible;
			opacity: 1;
			transition: opacity 1s;

		   }
		.addtocart-component{

			float: right;
			width: 100%;;
			text-align: center;
    		.add_to_cart_form{
    		margin-top:6px;
    		
    		
    		.js-qty-selector{
    			    border: 1px solid #e6e6e6;
    border-radius: 6px;
    background: #f2f2f2;
    padding: 8px 0px;
    font-size: 12px;
    font-weight: 800;
    float: left;
    margin-right: 12px;
    
    
    .js-qty-selector-minus{
        padding: 3px;
    cursor: pointer;
    .fa-minus{
    color: #ababab;
    font-weight: 600;
    }
    }
    .js-qty-selector-input{
    
        text-align: center;
    border: 0;
    background: #f2f2f2;
    color: #ababab;
    
    
    
    }
    .js-qty-selector-plus{
        padding: 7px;
    cursor: pointer;
    color: #ababab;
    
    .fa-plus{
    font-weight: 600;
    
    }
    
    }
    		
}

.js-enable-btn{

cursor: pointer;
    color: #fff;
    background: #121010;
    border: 1px solid #121010;
    border-radius: 5PX !important;
    padding: 8px 10px;

}

    		}
		
		}
		
		
		}






		.price {
		  font-size: 16px;
		  font-weight: 600;
		}

		.promo {
		  color: @item-promo-color;
		  font-size: 14px;
		  font-weight: 600;
		}
	  }

	  // Clearfixes
	  @media (min-width: @screen-sm-min) {
		.product-item:nth-child(4n+1) {
		  clear: both;
		}
	  }

	  @media (max-width: @screen-xs-max) {
		.product-item:nth-child(2n+1) {
		  clear: both;
		}
	  }
	}
  }



.search-empty {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

  .headline {
	margin-bottom: 20px;
  }


  .search-suggestions {
	margin-bottom: 20px;
  }
}





//Product Category Page styling

.product-category-page{
    .product-categories{
        .refine-bar{
            padding-bottom:(@grid-gutter-width/2);
            padding-top:(@grid-gutter-width/2);
        }
      	.pcp-prod,
      	.pcp-banner{
          	padding-left: 0;
          	padding-right: 0;
      	}

        .pcp-banner .simple-responsive-banner-component,
		.pcp-banner .banner__component--responsive {
            margin-right: -20px;
        }

      	.pcp-banner{
          	padding-top:(@grid-gutter-width/2);
      	}
    }
}

@media (min-width: @screen-md) {
		.search-list-page-right-result-list-slot{
				margin-left: -20px;
				margin-top: -20px;
		}

		.search-list-page-right-result-list-component{
				padding-left: 20px;
		}

		.product-list-right-slot{
				margin-left: -20px;
		}

		.product-list-right-component{
				margin-left: 0;
				padding-top: 20px;
		}

		.product-list-right-component .pagination-bar{
				margin-top: 0;
		}
}

.search-results-highlight {
	font-weight: bold;
}

.details{

.flagicon{
margin-top:1px !important
}

}















.product-item:hover .details .addtocart {
    display: block;
    visibility: visible;
	opacity: 1;
	
}