.language-en {
      .js-site-logo img {
        max-width: 250px;
        max-height: 50px;
    }
      @media (max-width: 1023px){
.js-mobile-logo a img {
    max-width: 140px;
    margin-top: 6px;
}
}
.link_ar{display:block !important;color: #fff;
 
    @media (max-width: @screen-sm-max){color:#121010;}
}
.link_en{display:none !important;}
}
.language-ar {
   .js-mainHeader .col-xs-4.pull-right .links_com_myC{margin-left: -10px;margin-right: -10px;}
    .btn_wishlist, .cartimage{    margin-left: 10px;}
    .personal_info b {
        min-width: 43px;
    }
.link_en{display:block  !important;color: #fff;
 
    @media (max-width: @screen-sm-max){color:#121010;}
}
.link_ar{display:none  !important;}
}


body.language-ar {    text-align: left;
    direction: ltr;
    font-family: 'Cairo', sans-serif;
    
    #colorbox{left: auto;}
    .product__facet .facet .facet__name .facet__arrow:before {
        content: "\e079";
      }
    .fa-chevron-right:before{    content: "\f053";}
.fa-chevron-left:before{    content: "\f054";}


.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{    margin-left: -30px;}
label > input[type=checkbox]:checked:before{    margin-left: 0px}  
  }