<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.zkoss.org/2005/zul"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:h="http://www.w3.org/1999/xhtml"
		xmlns:w="http://www.zkoss.org/2005/zk/client"
		xmlns:zk="http://www.zkoss.org/2005/zk"
		xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.hybris.com/schema/cockpitng/zul/zul.xsd"
 		height="100%">
 		
	<div height="100%" style="background: #ccc;">
		<div>
			<label id="label" value="${labels.hello} saccthirdpartyauthenticationbackoffice" />
		</div>
		<div>
			<image src="${wr}/images/headline_icon.png"/>
		</div>
		<div>
			<label value="${labels.hello} saccthirdpartyauthenticationbackoffice" sclass="yw-labelstyle"/>
		</div>
	</div>
</widget>
