## messageSource=classpath:/sacccore/messages/email-returnOrderRequestEmail_$lang.properties
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#6fbb34">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="#6fbb34">$bodyContent</font></a>
#end

<!DOCTYPE html>
<html>
<head>
</head>
<body bgcolor="#ffffff">
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="margin-top: 5rem">
		<tr>
			<td align="center" valign="top">
				<table width="610" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#fff">
					<tr>
						<td align="center" valign="top" bgcolor="#FFFFFF">
							<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
                                <tr>
                                 <td style='width:30%;text-align: left;font-size: 10px;margin-bottom: 0px; border-bottom:1px solid #000'>
       								   <span>${ctx.messages.orderNumber}</span>
        							   <br>
       								   <img src="${ctx.mediaBaseUrl}${ctx.barcode.url}" alt='' style='max-width: 100px;' />
       								</td>
									 <td style='width:40%;text-align: center; border-bottom: 1px solid #000;'> 
									 	${ctx.cmsSlotContents.SiteLogo} 
									 </td>
      								  <td style='width:30%; border-bottom: 1px solid #000;'></td>
                                </tr>
                                <tr>
								<td colspan='3'>
									${ctx.cmsSlotContents.TopContent}
									<center>
								      <p><span style='direction: ltr;'> Powered By </span><br /><span style='direction: ltr;'> Saudia Airlines Catering Co. </span><br /><span style='direction: rtl;'> شركة الخطوط السعودية للتموين </span><br /><span style='direction: ltr;'> (VAT No. $!{ctx.vatId}) </span><br /><span style='direction: rtl;'> (رقم السجل الضريبي ${ctx.vatId}) </span>
								        <br /><img src="${ctx.mediaBaseUrl}${ctx.icon.url}" alt='' style='max-width: 150px;' /><br />
								        <span style='direction: ltr;'> Al Saeb Al Jomhi Street, Prince Sultan Bin Abdulaziz Poad, </span><br /><span style='direction: ltr;'> Almohammadya District (5), P.O. Box 9178, Jeddah 21413, </span><br /><span style='direction: ltr;'> Kingdom of Saudi Arabia </span><br /><span style='direction: rtl;'> شارع السائب الجمحي، طريق الامير سلطان بن عبد العزيز، حي المحمدية 5 </span><br /><span style='direction: rtl;'> صندوق بريد 9178، جدة 21413، المملكة العربية السعودية </span><br />
								      </p>
								      <br />
								      <img src="${ctx.mediaBaseUrl}${ctx.qrcode.url}" alt='' style='max-width: 100px;' />
								    </center>
									</td>
									</tr>
								<tr>
									<td align="center" valign="middle" colspan="3">
										<a href="${ctx.baseUrl}" style="color:#6fbb34;display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.BottomContent}</a>
									</td>
								</tr>
							
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
